main.default-login-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

main.default-login-layout section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.default-login-layout .main-section {
  gap: 12px;
  flex: 1;
  background-color: var(--gray-bg);
  padding: 40px;
}

main.default-login-layout .main-section h1 {
  font-size: 32px;
  margin: 0;
  color: var(--secondary-color);
}

main.default-login-layout .main-section p {
  color: var(--text-color);
  max-width: 360px;
  text-align: center;
}

main.default-login-layout .form-section {
  flex: 0.45;
  padding: 40px 35px;
  min-width: 360px;
  background: #ffffff;
}

main.default-login-layout .form-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--secondary-color);
  width: 100%;
  text-align: left;
}

main.default-login-layout .form-subtitle {
  margin-bottom: 24px;
  color: var(--text-color);
  width: 100%;
  text-align: left;
}

main.default-login-layout .auth-form {
  width: 100%;
}

main.default-login-layout .btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 8px;
}

main.default-login-layout .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;
}

main.default-login-layout .divider div {
  flex-grow: 1;
  height: 2px;
  background-color: var(--gray-bg);
}

main.default-login-layout .btn-wrapper button {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 12px 24px;
  cursor: pointer;
}

main.default-login-layout .btn-wrapper button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

main.default-login-layout .btn-wrapper button.btn-primary {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 8px 12px rgba(148, 64, 255, 0.2);
}

main.default-login-layout .btn-wrapper button.btn-secondary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration:none;
}

@media (max-width: 900px) {
  main.default-login-layout {
    flex-direction: column;
  }

  main.default-login-layout .main-section,
  main.default-login-layout .form-section {
    flex: none;
    width: 100%;
    min-width: unset;
  }
}
